@import "tailwindcss";

:root {
  --is-background-body: #15062E;
}

body {
  background-color: var(--is-background-body);
}

.container {
  width: 95%;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0rem;
  padding-right: 0rem;
}