@import "tailwindcss";

:root {
  --is-background-body: #15062E;
  --is-border-header: #CCA63C33;
  --is-color-one-text: #702BDB;
  --is-color-tow-text: #C2994D;
  --is-bg-lang: #FFFFFF0D;
  --is-color-active: #6366F1;
  --is-color-title: #34284A;
  --is-border-btn: #CCA63C;
  --is-color-text-hero: #D1D5DC;
  --is-color-tow-image: #260e50d5;
  --is-color-in-platform: #D1D1D1;
  --is-color-card-1: #712CD9;
  --is-color-one-card: #533F2900;
  --is-color-tow-card: #712CD999;
  --is-color-card-three-1: #4F4EFA99;
  --is-color-in-border: #6c69693d;
  --is-color-one-methodology: #9B51E00D;
  --is-color-tow-methodology: #6C7BFF0D;
}

@font-face {
  font-family: "Arial";
  src: url("/assets/fonts/Arial-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/assets/fonts/Vazirmatn-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/assets/fonts/Vazirmatn-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/assets/fonts/Vazirmatn-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/assets/fonts/Vazirmatn-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Changa";
  src: url("/assets/fonts/Changa-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Changa";
  src: url("/assets/fonts/Changa-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Changa";
  src: url("/assets/fonts/Changa-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Outfit";
  src: url("/assets/fonts/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
}

.font-Outfit {
  font-family: "Outfit", sans-serif;
}

.font-Changa {
  font-family: "Changa", sans-serif;
}

.font-Arial {
  font-family: "Arial", sans-serif;
}

body {
  font-family: "Vazirmatn", sans-serif;
  background-color: var(--is-background-body);
}

.container {
  width: 95%;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0rem;
  padding-right: 0rem;
}

@keyframes rotatePlanet {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.moon {
  animation: rotatePlanet 22s linear infinite;
}

@keyframes orbitPlanet {
  0% {
    transform: rotate(0deg) translateX(10px) rotate(0deg);
  }

  50% {
    transform: rotate(180deg) translateX(15px) rotate(-180deg);
  }

  100% {
    transform: rotate(360deg) translateX(10px) rotate(-360deg);
  }
}

.planet {
  animation: orbitPlanet 7s linear infinite;
  transform-origin: center center;
}

.padding-all-sections {
  margin-top: 120px;
}

@media (max-width: 768px) {
  .padding-all-sections {
    margin-top: 0;
  }
}